<!DOCTYPE html>
<html lang="en">
<head>
<title>SQ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="quiz.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="quiz.js"></script>
</head>
<body>  
    
<div class="questions">
    <p id="question"></p>
</div>
            
<div class="row">  
    <div class="column" style="background-color:#aaa;">
        <button id="a1"></button>
    </div>
    <div class="column" style="background-color:#bbb;">
        <button id="a2"></button>
    </div>
    <p id="result"></p>
</div>

<div class="buttonQ">
    <button id='q'>
        Click me to start the quiz
    </button>           
</div>

</body>
</html>