<!DOCTYPE html>
<html lang="en">
<head>
<title>SQ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="quiz.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="quiz.js"></script>
</head>
<body style="background-color: bisque">  
<div class="row">  
    
    <div>
      <p id="question" class="title"></p>
      
    </div>
    <div class="score">
        <p id="score">Points: 0</p>
    </div>
    <div id="img1" class="column bg-img" style="background-image: url(img/dark.jpg);">
        <button id="a1" class="buttonAnswer"></button>
    </div>
    <div id="img2" class="column bg-img" style="background-image: url(img/dark.jpg);">
        <button id="a2" class="buttonAnswer"></button>
    </div>
    <p id="result"></p>
</div>

</body>
</html>